


#skills {
    width: 100vw;
    margin-top: 8rem;
    font-family: 'Montserrat', Times, serif;
    display: flex;
    flex-direction: column;
}

.skills {
    /* display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto; */
}

.skill-header {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.skill {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    
}

.skill-img {
    background-color: #022334;
    /* background-color: #12242e; */
    border-radius: 10px;
    margin: 20px;
    padding: 0.4rem 1rem;
}



.skill-image {
    margin: 7px 10px;
}


.skill-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-name {
    font-weight: 500;
    font-size: 1.2rem;
}

.skill-level {
    /* width: 30%; */
    height: 30%;
    display: flex;
}

.level {
  background: rgb(16,16,26);
  padding: 2px;
  box-sizing: border-box;
  border: 2px solid #023047;
  border-radius: 2px;
  margin-right:  6px;
  margin-top: 20px;
  height: 100%;
  padding: 14px 5px;
  border-radius: 2px;
}

.skill-level {
  display: flex;
  gap: 4px;
}

.filled {
  background-color: #76c7c0;
}

.unfilled {
  background-color: rgb(16,16,26);
}

@media screen and (min-width: 720px) {
    .skills {
        display: flex;
        flex-direction: row;
        width: 70%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .skill-header {
        margin: 0 auto;
        text-transform: uppercase;
    }
    
    .skill {
        width: 40%;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* margin: 0 auto; */
        margin-left: auto;
        margin-top: 1rem;
    }

}